.profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    width: 150px;          /* Adjust the width of the image */
    height: 150px;         /* Adjust the height to make it a square */
    object-fit: cover;     /* Ensure the image scales and fits within the box */
    border-radius: 50%;    /* This makes the image circular */
    border: 2px solid #0D527A;  /* Optional: Add a border for styling */
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  